customtkinter==5.2.2
darts==0.33.0
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.2
pymannkendall==1.4.3
pytorch_lightning==1.9.4
reportlab==4.4.3
scipy==1.16.2
statsmodels==0.14.4
tkcalendar==1.6.1
torch==2.6.0
torch==2.8.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8